html {
    background-color: black;
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color:azure;
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 28px;
    left: 0;
    text-align: center;
    margin: 20px;
}

.menu-container {
    margin: 15px;
}

.menu {
    margin-top: 20px;
    display: inline;
    text-align: center;
}

.menu li {
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 7px 4%;
    margin: 0;
    border: 1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
    cursor: pointer;
    width: 100%;
    background-color: aqua;
    /* text transition */
    transition-property: font-size;
    transition-timing-function: linear;
}

.menu li:hover {
    background-color: rgb(0, 216, 216);
    font-size: 22px;
}

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vw;
    color: antiquewhite;
    font-variant: small-caps;
}

h2, h4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-header p {
    text-align: center;
}

.myCats > h3 {
    color: antiquewhite;
    letter-spacing: 4px;
    font-size: 36px;
}

.catimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.main-header img {
    background-size: cover;
    background-size: contain;
    width: 100%;
    height: auto;
}


/* POPUP CONTACT FORM */
.border {
    border: 1px solid red;
    margin:100px 80px;
    position: static;
}

.submit {
    color: white;
    background-color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {padding: 10px;}
    50% {padding: 10px 15px; background-color: orangered}
    100% {padding: 10px;}
}

.catcontact {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0px;
    border: 2px solid black;
    z-index: 10;
}

.form-header {
    color: black;
}

.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: antiquewhite;
    color: black;
    margin: auto;
}

.form-container input[type=text] {
    width: 100%;
    padding: 18px;
    margin: 6px auto 20px ;
    border: none;
    background: antiquewhite;
}

.form-container input[type=text]:focus {
    background-color: rgb(255, 248, 239);
    outline: none;
    box-shadow: inset rgba(0,0,0,0.1);
}

.form-container .btn {
    background-color: black;
    color: white;
    padding: 18px 22px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
    color: white;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* RESOURCE LINKS */
.resources-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* .resources-container > div {
    width: 100%;
} */

.aristocatimg {
    width: 90%;
    height: auto;
    margin: 20px;
    border: 2px solid red;
}

.aristoflex {
    flex: 40%;
}

.aristolist {
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}

.aristolist li {
    color: orangered;
    padding: 5px;
}

/* VIDEO */
.video-container {
    width: 550px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: relative;
 }

